<div class="main-container row">
  <img class="background-image" src="assets/images/419.jpg">
  <div class="tab-container 
  col-md-6 col-md-offset-3
  col-xs-10 col-xs-offset-1">
    <mat-tab-group>

      <mat-tab label="signIn">
        <div class="form-container">

          <mat-form-field>
            <input matInput placeholder="email" [formControl]="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="password">
          </mat-form-field>

          <div class="form-button-row">
            <button mat-raised-button (click)="signIn()">sign in!</button>
          </div>
        </div>

        
      </mat-tab>

      <mat-tab label="register">
        <div class="form-container">
          <mat-form-field>
            <input matInput placeholder="name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="password" type="password">
          </mat-form-field>

        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>